---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro'; // <-- Nuevo
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import ContactTerminal from '../components/ContactTerminal.astro';
---

<Layout title="Portfolio | Dev Futurista">
    <Header />
    <main>
        <Hero />
        <Skills /> <Projects />
        <About />
        <ContactTerminal />
        <Projects />
        <section id="contact" style="height: 50vh; display: flex; align-items: center; justify-content: center; text-align: center;">
            <div class="container">
                <h2>¿Quieres te ayude con tu web?</h2>
                <p style="margin-top: 1rem;">campos25ariel@gmail.com</p>
            </div>
        </section>
    </main>
    
    <footer style="padding: 2rem 0; text-align: center; border-top: 1px solid rgba(255,255,255,0.1); margin-top: 50px;">
    <p>&copy; 2025 Ariel Campos.</p>
    <p style="margin-top: 10px;">
        <a href="/curriculum-vitae.docx" download style="color: var(--secondary); font-weight: bold;">[ Descargar CV ]</a>
    </p>
</footer>
</Layout>